In [ ]:
import pandas as pd
import numpy as np


from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#Creacion de variables - Cami

Originales:
- date-day
-unique_venue_id
-country_code
-saas_product

Nuevas:
- antiguedad (new_latest_live_date- date_day)
- reactivada

In [ ]:

df = pd.read_csv("/content/drive/MyDrive/TFM/Raw_CSV/df_new.csv", sep="	", decimal=".", na_values=['(null)'], low_memory=False)
df.head()

,date_day,unique_venue_id,created,venue_status,venue_active_from,original_marketplace_venue_type_name,country_code,tier,saas_product,first_live_date,...,plan_active_to,prepay,prepaid_until_to,discount,plan_discount_end_date,bill_every,plan_name,plan_fee_eur,is_zero_commission_plan,new_latest_live_date
0,2021-07-01,11000000016,2008-03-25 12:47:09,DISABLED,NaN,Hotel Spa,GB,NaN,tw_connect,2009-07-20,...,2999-12-31 00:00:00,0,NaN,0,NaN,1.0,Entry,16.65,False,2009-07-20
1,2021-08-01,11000000016,2008-03-25 12:47:09,DISABLED,NaN,Hotel Spa,GB,NaN,tw_connect,2009-07-20,...,2999-12-31 00:00:00,0,NaN,0,NaN,1.0,Entry,16.65,False,2009-07-20
2,2021-09-01,11000000016,2008-03-25 12:47:09,DISABLED,NaN,Hotel Spa,GB,NaN,tw_connect,2009-07-20,...,2999-12-31 00:00:00,0,NaN,0,NaN,1.0,Entry,16.65,False,2009-07-20
3,2021-10-01,11000000016,2008-03-25 12:47:09,DISABLED,NaN,Hotel Spa,GB,NaN,tw_connect,2009-07-20,...,2999-12-31 00:00:00,0,NaN,0,NaN,1.0,Entry,16.65,False,2009-07-20
4,2021-11-01,11000000016,2008-03-25 12:47:09,DISABLED,NaN,Hotel Spa,GB,NaN,tw_connect,2009-07-20,...,2999-12-31 00:00:00,0,NaN,0,NaN,1.0,Entry,16.65,False,2009-07-20

In [ ]:
((df.isnull().sum() / len(df))*100).sort_values(ascending = False)

plan_discount_end_date                  99.267863
first_heavy_saas_date                   98.699370
prepaid_until_to                        94.572017
venue_active_from                       92.750519
active_employees                        84.212999
disabled_date                           73.586947
tier                                    49.194441
plan_fee_eur                            41.514130
is_zero_commission_plan                 41.512567
plan_name                               41.512567
bill_every                              41.512567
plan_active_to                          41.512567
plan_active_from                        41.512567
is_plan_trial                           41.512567
new_latest_live_date                    23.053565
latest_live_date                        23.053565
direct_appointments_l30d                22.859119
online_appointments_l30d                22.859119
is_heavy_saas                           22.859119
first_live_date                         22.631353
is_widget_enabled                       19.732563
is_purchasable                          19.732563
venue_status                            19.732563
tw_mp_listed_first_time_date            14.689653
is_tw_mp_listed                         12.009968
marketplace_payment_method              12.009968
widget_payment_method                   12.009968
original_marketplace_venue_type_name     4.861466
saas_product                             0.000000
created                                  0.000000
country_code                             0.000000
reactivated_status                       0.000000
discount                                 0.000000
prepay                                   0.000000
is_twconnect_migrated                    0.000000
unique_venue_id                          0.000000
date_day                                 0.000000
dtype: float64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4606923 entries, 0 to 4606922
Data columns (total 37 columns):
 #   Column                                Dtype
---  ------                                -----
 0   date_day                              object
 1   unique_venue_id                       int64
 2   created                               object
 3   venue_status                          object
 4   venue_active_from                     object
 5   original_marketplace_venue_type_name  object
 6   country_code                          object
 7   tier                                  object
 8   saas_product                          object
 9   first_live_date                       object
 10  latest_live_date                      object
 11  disabled_date                         object
 12  reactivated_status                    object
 13  is_twconnect_migrated                 bool
 14  is_purchasable                        object
 15  is_widget_enabled                     object
 16  is_heavy_saas                         object
 17  first_heavy_saas_date                 object
 18  active_employees                      float64
 19  direct_appointments_l30d              float64
 20  online_appointments_l30d              float64
 21  is_tw_mp_listed                       object
 22  tw_mp_listed_first_time_date          object
 23  marketplace_payment_method            object
 24  widget_payment_method                 object
 25  is_plan_trial                         object
 26  plan_active_from                      object
 27  plan_active_to                        object
 28  prepay                                int64
 29  prepaid_until_to                      object
 30  discount                              int64
 31  plan_discount_end_date                object
 32  bill_every                            float64
 33  plan_name                             object
 34  plan_fee_eur                          float64
 35  is_zero_commission_plan               object
 36  new_latest_live_date                  object
dtypes: bool(1), float64(5), int64(3), object(28)
memory usage: 1.2+ GB

In [ ]:
df= df.loc[:, ['date_day', 'unique_venue_id', 'country_code','saas_product', 'first_live_date', 'latest_live_date'  ,'new_latest_live_date']]

In [ ]:
#preparacion de la data: fechas
df['latest_live_date'] = pd.to_datetime(df['latest_live_date'], errors='coerce')
df['new_latest_live_date'] = pd.to_datetime(df['new_latest_live_date'], errors='coerce')
df['first_live_date'] = pd.to_datetime(df['first_live_date'], errors='coerce')
df['date_day'] = pd.to_datetime(df['date_day'])

#trabajo de nulos
# Si latest_live_date es nulo, seleccionamos first_live_date
df['new_latest_live_date'].fillna(df['first_live_date'], inplace=True)

In [ ]:
df.sample(10)

,date_day,unique_venue_id,country_code,saas_product,first_live_date,latest_live_date,new_latest_live_date
3234925,2021-08-01,11000253469,GB,tw_connect,2011-07-31,2011-07-31,2011-07-31
4565663,2022-11-01,12000007905,ES,tw_pro,NaT,NaT,NaT
3689743,2022-05-01,11000005086,GB,tw_connect,2009-08-12,2009-08-12,2009-08-12
3812805,2023-05-01,11000025042,GB,tw_connect,2010-03-19,2010-03-19,2010-03-19
3555403,2023-06-01,11000026671,GB,tw_connect,2010-03-19,2010-03-19,2010-03-19
3954071,2022-10-01,11000251732,GB,tw_connect,2011-07-07,2011-07-07,2011-07-07
1609736,2023-01-01,11000375522,BE,tw_connect,2018-02-01,2018-02-01,2018-02-01
4031149,2021-07-01,12000011301,ES,tw_pro,NaT,NaT,NaT
140047,2023-06-01,11000265756,GB,tw_connect,2012-10-18,2012-10-18,2012-10-18
2882967,2022-10-01,12000020574,FR,tw_pro,NaT,NaT,NaT

# Variables originales

In [ ]:
#mapear country dada la poca frecuencia de los 3 ultimos paises
df.groupby('country_code')['unique_venue_id'].nunique().sort_values(ascending=False)

country_code
GB    100349
ES     20848
IT     19476
DE     16246
FR     16222
NL      8039
BE      3170
LT      2990
AT      2742
GR      2692
CH      2562
IE      1869
PT      1693
SI        31
DK         4
LV         1
Name: unique_venue_id, dtype: int64

In [ ]:
#pd.unique(df['country_code']).tolist()
country_list=  ['GB', 'FR', 'IT', 'AT', 'IE', 'CH', 'DE', 'ES', 'NL',  'BE',  'LT', 'PT', 'GR']

df['country'] = df['country_code'].map(lambda x: 'other' if x not in country_list else x)
df.groupby('country')['unique_venue_id'].nunique().sort_values(ascending=False)

country
GB       100349
ES        20848
IT        19476
DE        16246
FR        16222
NL         8039
BE         3170
LT         2990
AT         2742
GR         2692
CH         2562
IE         1869
PT         1693
other        36
Name: unique_venue_id, dtype: int64

In [ ]:
from sklearn.preprocessing import OneHotEncoder
onehot_encoder = OneHotEncoder( sparse_output=False)#dado que se trabaja con modelos de ensamblado, no es necesario tener n-1 variables dicotomicas
onehot_encoded = onehot_encoder.fit_transform(df.loc[:, ['country','saas_product']])
df2= pd.DataFrame(onehot_encoded, columns=onehot_encoder.get_feature_names_out())
df2.sample(10)

,country_AT,country_BE,country_CH,country_DE,country_ES,country_FR,country_GB,country_GR,country_IE,country_IT,country_LT,country_NL,country_PT,country_other,saas_product_tw_connect,saas_product_tw_pro
1028104,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1144560,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4441049,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4230434,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3693287,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1248486,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
667539,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1332858,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4243695,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2213900,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

# Variables nuevas

In [ ]:
#creacion de la variable
def calcular_meses(df):
  meses= (df['date_day'].year- df['new_latest_live_date'].year)*12 + (df['date_day'].month- df['new_latest_live_date'].month)
  return meses

df['antiguedad'] = df.apply(calcular_meses, axis=1)

In [ ]:
def calcular_reactivada(df):
  '''
  Retorna 1 o 0 si la venue es reactivada o nunca se ha ido.
  Para que una venue se considere reactivada debe existir al menos 30 dias de diferencia entre su primer live date(first_live_date) y la version actualizada en la variable 'latest_live_date'

  '''
  dias= abs(df['first_live_date'].day- df['new_latest_live_date'].day)
  if dias>30:
    return 1
  return 0

df['reactivada'] = df.apply(calcular_reactivada, axis=1)

In [ ]:
df_final= pd.concat([df,df2],axis=1)
df_final.drop(columns=['country_code', 'country', 'saas_product', 'new_latest_live_date','latest_live_date', 'first_live_date'], inplace= True)
df_final.head()

,date_day,unique_venue_id,antiguedad,reactivada,country_AT,country_BE,country_CH,country_DE,country_ES,country_FR,country_GB,country_GR,country_IE,country_IT,country_LT,country_NL,country_PT,country_other,saas_product_tw_connect,saas_product_tw_pro
0,2021-07-01,11000000016,144.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2021-08-01,11000000016,145.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,2021-09-01,11000000016,146.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,2021-10-01,11000000016,147.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,2021-11-01,11000000016,148.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4606923 entries, 0 to 4606922
Data columns (total 20 columns):
 #   Column                   Dtype
---  ------                   -----
 0   date_day                 datetime64[ns]
 1   unique_venue_id          int64
 2   antiguedad               float64
 3   reactivada               int64
 4   country_AT               float64
 5   country_BE               float64
 6   country_CH               float64
 7   country_DE               float64
 8   country_ES               float64
 9   country_FR               float64
 10  country_GB               float64
 11  country_GR               float64
 12  country_IE               float64
 13  country_IT               float64
 14  country_LT               float64
 15  country_NL               float64
 16  country_PT               float64
 17  country_other            float64
 18  saas_product_tw_connect  float64
 19  saas_product_tw_pro      float64
dtypes: datetime64[ns](1), float64(17), int64(2)
memory usage: 703.0 MB

In [ ]:
na_ratio = ((df_final.isnull().sum() / len(df_final))*100).sort_values(ascending = False)
print(na_ratio)

antiguedad                 22.615116
date_day                    0.000000
country_GR                  0.000000
saas_product_tw_connect     0.000000
country_other               0.000000
country_PT                  0.000000
country_NL                  0.000000
country_LT                  0.000000
country_IT                  0.000000
country_IE                  0.000000
country_GB                  0.000000
unique_venue_id             0.000000
country_FR                  0.000000
country_ES                  0.000000
country_DE                  0.000000
country_CH                  0.000000
country_BE                  0.000000
country_AT                  0.000000
reactivada                  0.000000
saas_product_tw_pro         0.000000
dtype: float64

# Testear Duplicados

In [ ]:
duplicados = df_final.duplicated(subset=['unique_venue_id', 'date_day'], keep=False).sum()
duplicados

344209

In [ ]:
duplicados = df_final.duplicated(subset=df_final.columns, keep=False).sum()
duplicados

344209

In [ ]:
df_sin_duplicados = df_final.drop_duplicates(subset=['unique_venue_id', 'date_day'], keep='first')
df_sin_duplicados.duplicated(subset=df_final.columns, keep=False).sum()

0

# Guardar el dataset

In [ ]:
df_sin_duplicados.to_csv('/content/drive/MyDrive/TFM/Raw_CSV/dataset_cami.csv', sep="	", index=False)

In [ ]:
#lectura
#df_final = pd.read_csv('/content/drive/MyDrive/TFM/Raw_CSV/dataset_cami.csv', sep="	", decimal=".",  na_values=['(null)'])
#df_final.head()

#Orders

variables:
- Unique_venue_id
- date_day: year+month+day(1)
- n_channels: numero de canales utilizados en el mes

In [ ]:
dfo = pd.read_csv("/content/drive/Shareddrives/Data_TFM/orders_2023_22_21.csv", sep="	", decimal=".",  na_values=['(null)'])
dfo.head()

,unique_venue_id,year,month,content_channel_name,online_order_segment,payment_method_name,saas_product,gross_orders,gross_item_eur_amount_ttv,gross_aov,gross_revenue_eur,gross_take_rate,cancelled_orders,cancelled_item_eur_amount_ttv,cancelled_aov,cancelled_revenue_eur,cancelled_take_rate
0,1.100037e+10,2023.0,3.0,Marketplace,1.Newbie,Pay at venue,tw_connect,5,615.386107,123.077221,123.08,0.200005,1.0,234.915355,234.915355,46.98,0.199987
1,1.100037e+10,2023.0,3.0,Marketplace,3.Explorer,PayPal,tw_connect,5,83.000000,16.600000,29.05,0.350000,2.0,83.000000,41.500000,29.05,0.350000
2,1.100033e+10,2023.0,3.0,Marketplace,4.Loyal,Apple Pay,tw_connect,15,264.000000,17.600000,5.28,0.020000,1.0,36.500000,36.500000,0.73,0.020000
3,1.100039e+10,2023.0,3.0,Marketplace,4.Loyal,Apple Pay,tw_connect,22,349.000000,15.863636,6.98,0.020000,2.0,27.000000,13.500000,0.54,0.020000
4,1.100033e+10,2023.0,3.0,Widget,4.Loyal,Pay at venue,tw_connect,113,500.010000,4.424867,0.00,0.000000,10.0,65.010000,6.501000,0.00,0.000000

In [ ]:
dfo[pd.to_numeric(dfo['unique_venue_id'], errors='coerce').isna()]

,unique_venue_id,year,month,content_channel_name,online_order_segment,payment_method_name,saas_product,gross_orders,gross_item_eur_amount_ttv,gross_aov,gross_revenue_eur,gross_take_rate,cancelled_orders,cancelled_item_eur_amount_ttv,cancelled_aov,cancelled_revenue_eur,cancelled_take_rate,date_day
194,NaN,2023.0,3.0,Marketplace,4.Loyal,Apple Pay,tw_connect,2799,-4837.328736,-1.728235,-66.20,0.013685,NaN,NaN,NaN,NaN,NaN,2023-03-01
264,NaN,2023.0,3.0,Marketplace,4.Loyal,Google Pay,tw_connect,512,-6796.764094,-13.274930,-130.57,0.019211,NaN,NaN,NaN,NaN,NaN,2023-03-01
268,NaN,2023.0,3.0,Marketplace,3.Explorer,Apple Pay,tw_connect,1310,-1783.598507,-1.361526,-624.52,0.350146,NaN,NaN,NaN,NaN,NaN,2023-03-01
329,NaN,2023.0,3.0,Widget,2.Referral,Pay at venue,tw_connect,1361,9679.790001,7.112263,0.18,0.000019,NaN,NaN,NaN,NaN,NaN,2023-03-01
351,NaN,2023.0,3.0,Marketplace,4.Loyal,PayPal,tw_connect,904,3609.122260,3.992392,72.70,0.020143,NaN,NaN,NaN,NaN,NaN,2023-03-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4956656,NaN,2023.0,4.0,Marketplace,1.Newbie,NaN,tw_connect,2,-166.705500,-83.352750,-58.35,0.350018,NaN,NaN,NaN,NaN,NaN,2023-04-01
4977244,NaN,2023.0,1.0,Marketplace,1.Newbie,NaN,tw_connect,1,-45.000000,-45.000000,-15.75,0.350000,NaN,NaN,NaN,NaN,NaN,2023-01-01
4986283,NaN,2023.0,2.0,Marketplace,2.Referral,iDeal,tw_connect,1,13.500000,13.500000,0.27,0.020000,NaN,NaN,NaN,NaN,NaN,2023-02-01
4991157,NaN,2022.0,12.0,Widget,4.Loyal,NaN,tw_connect,1,-50.000000,-50.000000,-1.00,0.020000,NaN,NaN,NaN,NaN,NaN,2022-12-01
5017550,NaN,2023.0,2.0,Marketplace,3.Explorer,Credit Note,tw_connect,1,-14.778525,-14.778525,-5.17,0.349832,NaN,NaN,NaN,NaN,NaN,2023-02-01

In [ ]:
dfo['unique_venue_id'].fillna(-1, inplace=True)
dfo['unique_venue_id'] = dfo['unique_venue_id'].astype('int64')

In [ ]:
dfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5021726 entries, 0 to 5021725
Data columns (total 18 columns):
 #   Column                         Dtype
---  ------                         -----
 0   unique_venue_id                int64
 1   year                           float64
 2   month                          float64
 3   content_channel_name           object
 4   online_order_segment           object
 5   payment_method_name            object
 6   saas_product                   object
 7   gross_orders                   int64
 8   gross_item_eur_amount_ttv      float64
 9   gross_aov                      float64
 10  gross_revenue_eur              float64
 11  gross_take_rate                float64
 12  cancelled_orders               float64
 13  cancelled_item_eur_amount_ttv  float64
 14  cancelled_aov                  float64
 15  cancelled_revenue_eur          float64
 16  cancelled_take_rate            float64
 17  date_day                       datetime64[ns]
dtypes: datetime64[ns](1), float64(11), int64(2), object(4)
memory usage: 689.6+ MB

# Date_day

In [ ]:
dfo['date_day'] = pd.to_datetime(dfo[['year', 'month']].assign(day=1))
dfo.head()

,unique_venue_id,year,month,content_channel_name,online_order_segment,payment_method_name,saas_product,gross_orders,gross_item_eur_amount_ttv,gross_aov,gross_revenue_eur,gross_take_rate,cancelled_orders,cancelled_item_eur_amount_ttv,cancelled_aov,cancelled_revenue_eur,cancelled_take_rate,date_day
0,1.100037e+10,2023.0,3.0,Marketplace,1.Newbie,Pay at venue,tw_connect,5,615.386107,123.077221,123.08,0.200005,1.0,234.915355,234.915355,46.98,0.199987,2023-03-01
1,1.100037e+10,2023.0,3.0,Marketplace,3.Explorer,PayPal,tw_connect,5,83.000000,16.600000,29.05,0.350000,2.0,83.000000,41.500000,29.05,0.350000,2023-03-01
2,1.100033e+10,2023.0,3.0,Marketplace,4.Loyal,Apple Pay,tw_connect,15,264.000000,17.600000,5.28,0.020000,1.0,36.500000,36.500000,0.73,0.020000,2023-03-01
3,1.100039e+10,2023.0,3.0,Marketplace,4.Loyal,Apple Pay,tw_connect,22,349.000000,15.863636,6.98,0.020000,2.0,27.000000,13.500000,0.54,0.020000,2023-03-01
4,1.100033e+10,2023.0,3.0,Widget,4.Loyal,Pay at venue,tw_connect,113,500.010000,4.424867,0.00,0.000000,10.0,65.010000,6.501000,0.00,0.000000,2023-03-01

In [ ]:
dfo_final= dfo.groupby(['unique_venue_id'	,'date_day'])['content_channel_name'].nunique().reset_index()
dfo_final.columns=['unique_venue_id'	,'date_day', 'n_channel']
dfo_final.sample(10)

        unique_venue_id   date_day  n_channel
353265      11000406869 2021-11-01          3
493011      12000026296 2022-10-01          1
461424      12000000693 2022-04-01          1
577200      12000045907 2023-04-01          1
139294      11000371411 2022-12-01          2
141792      11000371916 2022-09-01          2
103663      11000329139 2022-12-01          1
552779      12000037072 2023-04-01          2
349067      11000406239 2022-01-01          1
322793      11000401751 2023-01-01          2

In [ ]:
dfo_final.to_csv('/content/drive/MyDrive/TFM/Raw_CSV/dataset_cami_orders.csv', sep="	", index=False)